<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Travel Catalogue</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/countries">Travel</a></li>
      <li><a href="/countries/new">New Memory</a></li>
      <li><a href="#">Welcome, <%=user.name%>!</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/countries">Travel</a></li>
      <li><a href="/countries/new">New Memory</a></li>
      <li><a href="#">Welcome, <%=user.name%>!</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
  </div>
</nav>
