<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Edit <%=users.name%>'s Info</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">Travellers Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Traveller Attributes:</h2>
      <form action="/users/<%=users._id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%=users.name%>" /><br />
        <input type="submit" value="Update Traveller Details" />
      </form>
    </main>
  </body>
</html>
