<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a new Traveller!</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">Travellers Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/users" method="post">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="text" name="password" placeholder="Password" /><br />
        <input type="submit" value="Submit Traveller Details" />
      </form>
    </main>
  </body>
</html>
