//index

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Users</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users/new">Create a new User</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>List of Travellers</h2>
      <ul>
        <% for(let i = 0; i < users.length; i++){ %>
        <li>
          <a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>

//new
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a new Traveller!</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">Travellers Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/users" method="post">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="text" name="password" placeholder="Password" /><br />
        <input type="submit" value="Submit Traveller Details" />
      </form>
    </main>
  </body>
</html>
