<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Show Page for <%=users.name%></h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">Traveller Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <a href="/users/<%=users._id%>/edit">Edit</a>
      </section>

      <section>
        <h2>Traveller Attributes:</h2>
        <ul>
          <li>Name: <%=users.Name%></li>
        </ul>
      </section>

      <section>
        <form action="/users/<%=users._id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Traveller" />
        </form>
      </section>
    </main>
  </body>
</html>
