<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <header>
      <h1>Countries Visited</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/articles/new">Create a new Country Record</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>List of Countries Visited</h2>
      <ul>
        <% for(let i = 0; i < countries.length; i++){ %>
        <li>
          <a href="/countries/<%=countries[i]._id%>"
            ><%=countries[i].Country%></a
          >
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
